<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head')%>
  <body>
    <%- include('../layouts/navigation')%>
    <main>
      <% if(errorMessage && errorMessage.length > 0) { %>
      <div class="alert-container">
        <div class="alert alert-error">
          <div><%= errorMessage %></div>
          <img class="alert-cross-icon" src="/img/cross-icon-error.svg" />
        </div>
      </div>
      <% } else if(successMessage && successMessage.length > 0) { %>
      <div class="alert-container">
        <div class="alert alert-success">
          <div><%= successMessage %></div>
          <img class="cross-icon" src="/img/cross-icon-success.svg" />
        </div>
      </div>
      <% } %>
      <form class="login-form" action="/login" method="POST">
        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Login</button>
      </form>
    </main>
    <%- include('../layouts/footer')%>
  </body>
</html>
