<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head')%>
  <body>
    <%- include('../layouts/navigation')%>
    <main>
      <pre>{{ errorMessage }}</pre>
      <pre>{{ passwordToken }}</pre>
      <% if(errorMessage && errorMessage.length > 0) { %>
      <div class="toast-container">
        <div class="toast toast-error">
          <div><%= errorMessage %></div>
          <img
            class="toast-cross-icon"
            src="/img/cross-icon-error.svg"
            onclick="closeToast(event)"
          />
        </div>
        <div class="toast-duration error"></div>
      </div>
      <% } else if(successMessage && successMessage.length > 0) { %>
      <div class="toast-container">
        <div class="toast toast-success">
          <div><%= successMessage %></div>
          <img
            class="toast-cross-icon"
            src="/img/cross-icon-success.svg"
            onclick="closeToast(event)"
          />
        </div>
        <div class="toast-duration success"></div>
      </div>
      <% } %>
      <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" id="newPassword" />
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" />
        </div>
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input
          type="hidden"
          name="passwordToken"
          value="<%= passwordToken %>"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Update Password</button>
      </form>
    </main>
    <%- include('../layouts/footer')%>
  </body>
</html>
