<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head')%>
  <body>
    <%- include('../layouts/navigation')%>
    <main>
      <% if(errorMessage && errorMessage.length > 0) { %>
      <div class="alert-container">
        <div class="alert alert-error">
          <div><%= errorMessage %></div>
          <img class="alert-cross-icon" src="/img/cross-icon-error.svg" />
        </div>
      </div>
      <% } %>
      <form class="register-form" action="/register" method="POST">
        <div class="form-control">
          <label for="name">Name</label>
          <input type="name" name="name" id="name" />
        </div>
        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Register</button>
      </form>
    </main>
    <%- include('../layouts/footer')%>
  </body>
</html>
